{% extends 'main/base.html' %}

{% block title %}
CinemaLife - Смотреть фильмы и сериалы в высоком качестве
{% endblock %}

{% block autof %}

        <a href="{% url 'create' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> Войти </a>


{% endblock %}

{% block Filmsonsite%}
  {% if criteria != '0' %}
    {% if films %}
      {% for el in films %}
        {% if el.Country == criteria %}
        <div class="col">
          <div class="card shadow-sm"><a href="{% url 'film' el.id %}">
              <img src="{{el.Imgsmall}}" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"></a>
            <div class="card-body">
              <p class="card-text">{{el.About}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'film' el.id %}">Смотреть</a>
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="{{el.VideoTrailer}}">Смотреть трейлер</a>
                </div>
                <small class="p-2 mb-0 bg-success text-white">{{el.Grade}}</small>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      {%endfor%}
    {% else %}
      <p>Пока фильмы не завезли </p>
    {% endif %}
  {% else %}
    {% for el in films %}
    <div class="col">
          <div class="card shadow-sm"><a href="{% url 'film' el.id %}">
              <img src="{{el.Imgsmall}}" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"></a>
            <div class="card-body">
              <p class="card-text">{{el.About}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'film' el.id %}">Смотреть</a>
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="{{el.VideoTrailer}}">Смотреть трейлер</a>
                </div>
                <small class="p-2 mb-0 bg-success text-white">{{el.Grade}}</small>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
  {% endif %}
{% endblock %}

{% block content %}
<div class="bd-example">
  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Страны</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'about' 'Великобритания' %} ">Великобритания</a></li>
      <li><a class="dropdown-item" href="{% url 'about' 'США' %}">США</a></li>
      <li><a class="dropdown-item" href="{% url 'about' 'Россия' %}">Россия</a></li>
      <li><a class="dropdown-item" href="{% url 'about' 'Франция' %}">Франция</a></li>
    </ul>
  </div><!-- /btn-group -->
  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Secondary</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div><!-- /btn-group -->
  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Success</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div><!-- /btn-group -->
  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Info</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div><!-- /btn-group -->
  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Warning</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div><!-- /btn-group -->
  <div class="btn-group">
    <a href="{% url 'about' 0 %}" type="button" class="btn btn-light">Сброс</a>
  </div>
</div>
{% endblock %}